html,body{
  height: 100%;
  position: relative;
  min-height: 900px;
  min-width: 680px;
}

.App {
  height: 100%;
  text-align: center;
  
}

.home_cover {
  background-image: url("/static/background.jpg");
  background-size: cover;
  height: 100%;
  color: #000000;
}
